{
    "extends": "airbnb",

    "env": {
        "node": true
    },

    "rules": {
        "arrow-body-style": [0],
        "comma-dangle": [2, "never"],
        "import/no-extraneous-dependencies": 0,
        "indent": [2, 4, { "SwitchCase": 1 }],
        "jsx-a11y/no-marquee": 0,
        "space-before-function-paren": [2, "never"],
        "strict": [0, "global"]
    },

    "globals": {
        "fixture": true,
        "test": true
    }
}
